body {
  color: #222;
}
main {
  padding: 2%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1%;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

header nav {
  display: flex;
  gap: 0.5em;
}


img{
  max-width: 100%;
}

.post{
  display: grid;
  grid-template-columns: .6fr 1.4fr;
  gap: 0.5em;
  margin-bottom: 1.2em;
}

.post .texts h2{
  margin:0;
  font-size:2rem;
}